---
layout: bootcamp
root: .
venue: US Army Engineer Research and Development Center
address: 3909 Halls Ferry Rd Vicksburg, MS 39180
country: United-States
humandate: January 21-22, 2020
humantime: 9:00 am - 4:30 pm
startdate: 2014-01-21
enddate: 2014-01-22
latlng: 32.301199,-90.871617
registration: restricted
instructor: ["Aron Ahmadia", "Randal Olson"]
contact: aron@ahmadia.net
---

{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Setup</h2>

To participate in this Software Carpentry bootcamp, 
you will need working copies of:
{% include setup/overview-bash.html %}
{% include setup/overview-git.html %}
{% include setup/overview-editor.html %}
{% include setup/overview-python.html %}

The instructions for installing each of these components is organzed below by operating system.  

<div class="row-fluid">
  <div class="span6">

	
<h3>MacOSX</h3>
	<div class="well">
{% include setup/macosx-bash.html %}
{% include setup/macosx-editor.html %}
{% include setup/macosx-git.html %}
{% include setup/macosx-python.html %}
<!--{% include setup/macosx-r.html %}-->
	</div>
  </div>
  <div class="span6">
	
<h3>Windows</h3>
	<div class="well">
{% include setup/windows-git.html %}
{% include setup/windows-editor.html %}
{% include setup/windows-anaconda.html %}
{% include setup/windows-swc.html %}
<!--{% include setup/windows-r.html %}-->
	</div>
	
<h3>Linux</h3>
	<div class="well">
{% include setup/linux-bash.html %}
{% include setup/linux-git.html %}
{% include setup/linux-editor.html %}
{% include setup/linux-python.html %}
<!--{% include setup/linux-r.html %}-->
	</div>
</div>
</div>

<hr/>

<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
</ul>
