---
layout: bootcamp
root: .
venue: Massachusetts Institute of Technology
address: 15 Vassar Street, 48-316
country: United-States
humandate: Jan 30 - Feb 1, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-01-30
enddate: 2014-02-1
latlng: 42.361947,-71.090936
registration: restricted
instructor: ["Aron Ahmadia", "Randy Olson"]
contact: aron@ahmadia.net
---

<h2>About</h2>

{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Setup</h2>

To participate in this Software Carpentry bootcamp, 
you will need working copies of:
{% include setup/overview-bash.html %}
{% include setup/overview-git.html %}
{% include setup/overview-editor.html %}
{% include setup/overview-python.html %}

The instructions for installing each of these components is organized below by operating system.  

<div class="row-fluid">
  <div class="span6">

	
<h3>MacOSX</h3>
	<div class="well">
{% include setup/macosx-bash.html %}
{% include setup/macosx-editor.html %}
{% include setup/macosx-git.html %}
{% include setup/macosx-python.html %}
<!--{% include setup/macosx-r.html %}-->
	</div>
  </div>
  <div class="span6">
	
<h3>Windows</h3>
	<div class="well">
{% include setup/windows-git.html %}
{% include setup/windows-editor.html %}
{% include setup/windows-anaconda.html %}
{% include setup/windows-swc.html %}
<!--{% include setup/windows-r.html %}-->
	</div>
	
<h3>Linux</h3>
	<div class="well">
{% include setup/linux-bash.html %}
{% include setup/linux-git.html %}
{% include setup/linux-editor.html %}
{% include setup/linux-python.html %}
<!--{% include setup/linux-r.html %}-->
	</div>
</div>
</div>

<h2>Bootcamp materials</h2>
<hr />

Bootcamp materials can be downloaded here: <a href="https://github.com/geocarpentry/2014-01-30-mit/archive/gh-pages.zip">https://github.com/geocarpentry/2014-01-30-mit/archive/gh-pages.zip</a>

<h2>Etherpad</h2>
<hr />

Etherpad can be reached here: <a href="https://etherpad.mozilla.org/2014-01-21-mit">https://etherpad.mozilla.org/2014-01-21-mit</a>

<h2>Agenda</h2>

This agenda may be subject to change.

<hr/>

<table class="table table-striped">
	<tr>
		<th colspan="3"> Day 1 </th>
	</tr>
	<tr>
		<td> 08:00-09:00 </td>
		<td> Setup Help </td>
		<td> </td>
	</tr>
	<tr>
		<td> 09:00-09:30 </td>
		<td> <a href="{{page.root}}/overview/overview.html">Introduction and Overview</a> </td>
		<td> Aron Ahmadia </td>
	</tr>
	<tr>
		<td> 09:30-10:30 </td>
		<td> <a href="{{page.root}}/bash/novice/index.html">
			Automating Your Actions (Shell Part 1)</a> </td>
		<td> Aron Ahmadia </td>
	</tr>
	<tr>
		<td> 10:30-10:45 </td>
		<td> Break </td>
		<td> </td>
	</tr>
	<tr>
		<td> 10:45-12:00 </td>
		<td> <a href="{{page.root}}/bash/novice/index.html">
			Automating Your Actions (Shell Part 2)</a> </td>
		<td> Randal Olson </td>
	</tr>
	<tr>
		<td> 12:00-13:00 </td>
		<td> Lunch Break </td>
		<td> </td>
	</tr>
	<tr>
		<td> 13:00-13:30 </td>
		<td> <a href="http://ipython.org/ipython-doc/stable/interactive/tutorial.html">
			IPython</a>
			and
			<a href="http://ipython.org/ipython-doc/stable/interactive/notebook.html">
			IPython Notebook Orientation </a></td>
		<td> Aron Ahmadia </td>
	</tr>
	<tr>
		<td> 13:30-14:45 </td>
		<td> <a href="http://nbviewer.ipython.org/github/geocarpentry/2014-01-21-erdc/blob/gh-pages/python/intermediate/01-intro-python.ipynb">
			Intro to Python Programming and Analysis (Python Part 1)</a></td>
		<td> Aron Ahmadia </td>
	</tr>
	<tr>
		<td> 14:45-15:15 </td>
		<td> Break </td>
		<td> </td>
	</tr>
	<tr>
		<td> 15:15-16:30 </td>
		<td> <a href="http://nbviewer.ipython.org/github/geocarpentry/2014-01-21-erdc/blob/gh-pages/python/intermediate/02-modularization-documentation.ipynb">
			Modularization and Documentation (Python Part 2)</a></td>
		<td> Randal Olson </td>
	</tr>
	<tr>
		<td> 17:30 - 19:30 </td>
		<td> Boot camp reception </td>
		<td> Parsons kitchen on the 3rd floor of building 48 </td>
	</tr>
	<tr>
		<th colspan="3"> Day 2 </th>
	</tr>
	<tr>
		<td> 08:00-09:00 </td>
		<td> Office Hour </td>
		<td> </td>
	</tr>
	<tr>
		<td> 09:00-09:30 </td>
		<td> <a href="{{page.root}}/git/intermediate/00-intro.html">Introduction to Distributed Version Control</a> </td>
		<td> Aron Ahmadia </td>
	</tr>
	<tr>
		<td> 09:30-10:30 </td>
		<td> <a href="{{page.root}}/git/intermediate/01-conversational-git.html">Accessing and Creating Software History (Git Part 1)</a> </td>
		<td> Aron Ahmadia </td>
	</tr>
	<tr>
		<td> 10:30-10:45 </td>
		<td> Break </td>
		<td> </td>
	</tr>
	<tr>
		<td> 10:45-12:00 </td>
		<td> <a href="{{page.root}}/git/intermediate/01-conversational-git.html">Sharing and Collaborating with GitHub (Git Part 2)</a> </td>
		<td> Aron Ahmadia </td>
	</tr>
	<tr>
		<td> 12:00-13:00 </td>
		<td> Lunch Break </td>
		<td> </td>
	</tr>
	<tr>
		<td> 13:00-13:30 </td>
		<td> Content Review </td>
		<td> Aron Ahmadia and Randal Olson </td>
	</tr>
	<tr>
		<td> 13:30-14:45 </td>
		<td> Application Vignette </td>
		<td> Aron Ahmadia </td>
	</tr>
	<tr>
		<td> 14:45-15:15 </td>
		<td> Break </td>
		<td> </td>
	</tr>
	<tr>
		<td> 15:15-16:30 </td>
		<td> <a href="http://nbviewer.ipython.org/urls/raw2.github.com/geocarpentry/2014-01-21-erdc/gh-pages/lessons/vignettes/Numerical_analysis_with_NumPy.ipynb?create=1">NumPy</a> and <a href="http://nbviewer.ipython.org/urls/raw2.github.com/geocarpentry/2014-01-21-erdc/gh-pages/lessons/vignettes/Plotting_with_matplotlib_and_Basemap.ipynb?create=1">matplotlib/Basemap</a> </td>
		<td> Randal Olson </td>
	</tr>
	<tr>
		<th colspan="3"> Day 3 </th>
	</tr>
	<tr>
		<td> 08:00-09:00 </td>
		<td> Office Hour </td>
		<td> </td>
	</tr>
	<tr>
		<td> 09:00-12:00 </td>
		<td> Application Vignettes </td>
		<td> </td>
	</tr>
</table>

<hr/>

<div class="row-fluid">
<div class="span6">
        <h3>Reference Guides</h3>
        <div class="well">
                <ul>
                        <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
                        <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
                </ul>
        </div>
</div>

<div class="span6">
        <h3>Useful Links</h3>
        <div class="well">
                <ul>
                        <li><a href="https://github.com/veltman/clmystery">Fun with Unix commands: A Command-Line Murder Mystery</a></li>
                        <li><a href="http://docs.python.org/2/tutorial/">Python tutorial</a></li>
                        <li><a href="http://www.randalolson.com/2012/08/06/statistical-analysis-made-easy-in-python/">Quick guide on data analysis with Python and pandas</a></li>
                        <li><a href="http://pythontutor.com/">Python Tutor (steps through the code with you as it executes)</a></li>
                        <li><a href="http://pcottle.github.io/learnGitBranching/?NODEMO">Visualization of Git commands</a></li>
                        <li><a href="http://osrc.dfm.io/ahmadia">Your GitHub "resume"</a></li>
                </ul>
        </div>
</div>
</div>

<h2>Instructors</h2>

{% include people/ahmadia.a.html %}
{% include people/olson.r.html %}
