---
layout: bootcamp
root: .
venue: Massachusetts Institute of Technology
address: 77 Massachusetts Avenue, Room 48-316
country: United-States
humandate: Jan 30-31, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-01-30
enddate: 2014-01-31
latlng: 42.359392,-71.093271
registration: restricted
instructor: ["Aron Ahmadia", "Randy Olson"]
contact: aron@ahmadia.net
---

{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Agenda</h2>
<hr/>

<table class="table table-striped">
        <tr>
                <th colspan="3"> Day 1 </th>
        </tr>
        <tr>
                <td> 08:00-09:00 </td>
                <td> Setup Help </td>
                <td> </td>
        </tr>
        <tr>
                <td> 09:00-09:30 </td>
                <td> <a href="{{page.root}}/overview/overview.html">Introduction and Overview</a> </td>
                <td> Aron Ahmadia </td>
        </tr>
        <tr>
                <td> 09:30-10:30 </td>
                <td> <a href="{{page.root}}/bash/novice/index.html">
                        Automating Your Actions (Shell Part 1)</a> </td>
                <td> Aron Ahmadia </td>
        </tr>
        <tr>
                <td> 10:30-10:45 </td>
                <td> Break </td>
                <td> </td>
        </tr>
        <tr>
                <td> 10:45-12:00 </td>
                <td> <a href="{{page.root}}/bash/novice/index.html">
                        Automating Your Actions (Shell Part 2)</a> </td>
                <td> Randal Olson </td>
        </tr>
        <tr>
                <td> 12:00-13:00 </td>
                <td> Lunch Break </td>
                <td> </td>
        </tr>
        <tr>
                <td> 13:00-13:30 </td>
                <td> <a href="http://ipython.org/ipython-doc/stable/interactive/tutorial.html">
                        IPython</a>
                        and
                        <a href="http://ipython.org/ipython-doc/stable/interactive/notebook.html">
                        IPython Notebook Orientation </a></td>
                <td> Aron Ahmadia </td>
        </tr>
        <tr>
                <td> 13:30-15:00 </td>
                <td> <a href="http://nbviewer.ipython.org/github/geocarpentry/2014-01-21-erdc/blob/gh-pages/python/intermediate/01-intro-python.ipynb">
                        Intro to Python Programming and Analysis (Python Part 1)</a></td>
                <td> Aron Ahmadia </td>
        </tr>
        <tr>
                <td> 15:00-15:15 </td>
                <td> Break </td>
                <td> </td>
        </tr>
        <tr>
                <td> 15:15-16:30 </td>
                <td> <a href="http://nbviewer.ipython.org/github/geocarpentry/2014-01-21-erdc/blob/gh-pages/python/intermediate/02-modularization-documentation.ipynb">
                        Modularization and Documentation (Python Part 2)</a></td>
                <td> Randal Olson </td>
        </tr>
        <tr>
                <th colspan="3"> Day 2 </th>
        </tr>
        <tr>
                <td> 08:00-09:00 </td>
                <td> Office Hour </td>
                <td> </td>
        </tr>
        <tr>
                <td> 09:00-09:30 </td>
                <td> <a href="{{page.root}}/git/intermediate/00-intro.html">Introduction to Distributed Version Control</a> </td>
                <td> Aron Ahmadia </td>
        </tr>
        <tr>
                <td> 09:30-10:30 </td>
                <td> <a href="{{page.root}}/git/intermediate/01-conversational-git.html">Accessing and Creating Software History (Git Part 1)</a> </td>
                <td> Aron Ahmadia </td>
        </tr>
        <tr>
                <td> 10:30-10:45 </td>
                <td> Break </td>
                <td> </td>
        </tr>
        <tr>
                <td> 10:45-12:00 </td>
                <td> <a href="{{page.root}}/git/intermediate/01-conversational-git.html">Sharing and Collaborating with GitHub (Git Part 2)</a> </td>
                <td> Aron Ahmadia </td>
        </tr>
        <tr>
                <td> 12:00-13:00 </td>
                <td> Lunch Break </td>
                <td> </td>
        </tr>
        <tr>
                <td> 13:00-13:30 </td>
                <td> Content Review </td>
                <td> Aron Ahmadia and Randal Olson </td>
        </tr>
        <tr>
                <td> 13:30-15:00 </td>
                <td> <a href="http://nbviewer.ipython.org/urls/raw2.github.com/geocarpentry/2014-01-21-erdc/gh-pages/lessons/vignettes/Numerical_analysis_with_NumPy.ipynb?create=1">NumPy</a> </td>
                <td> Randal Olson </td>
        </tr>
        <tr>
                <td> 15:00-15:15 </td>
                <td> Break </td>
                <td> </td>
        </tr>
        <tr>
                <td> 15:15-16:30 </td>
                <td> <a href="http://nbviewer.ipython.org/urls/raw2.github.com/geocarpentry/2014-01-21-erdc/gh-pages/lessons/vignettes/Plotting_with_matplotlib_and_Basemap.ipynb?create=1">matplotlib/Basemap</a> </td>
                <td> Randal Olson </td>
        </tr>
</table>

<hr />

<h2>Setup</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/overview-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/overview-python.html %}
  </div>
</div>

<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
</ul>

<h2>Useful Links</h2>

<ul>
        <li><a href="https://github.com/veltman/clmystery">Fun with Unix commands: A Command-Line Murder Mystery</a></li>
        <li><a href="http://docs.python.org/2/tutorial/">Python tutorial</a></li>
        <li><a href="http://www.randalolson.com/2012/08/06/statistical-analysis-made-easy-in-python/">Quick guide on data analysis with Python and pandas</a></li>
        <li><a href="http://pythontutor.com/">Python Tutor (steps through the code with you as it executes)</a></li>
        <li><a href="http://pcottle.github.io/learnGitBranching/?NODEMO">Visualization of Git commands</a></li>
        <li><a href="http://osrc.dfm.io/ahmadia">Your GitHub "resume"</a></li>
</ul>

<h2>Instructors</h2>

{% include people/ahmadia.a.html %}
{% include people/olson.r.html %}
