<div id="setup-windows-anaconda" class="setup setup-windows setup-anaconda">



  <h4>Windows / Anaconda Python</h4>



  <ul>



    <li>



    We recommend the all-in-one scientific Python installer

    <a href="http://continuum.io/downloads.html">Anaconda</a>.



    </li>



    <li>



      Use all of the defaults for installation



      <em>except</em> before pressing <strong>Finish</strong>



      make sure to check <strong>Make Anaconda the default Python</strong>.



    </li>



  </ul>



</div>



